In [1]:
import pandas as pd

In [2]:
distfi = pd.read_csv('distribucion_fuente_ingreso.csv', sep=';', decimal=',')
indgini = pd.read_csv('indice_gini.csv', sep=';', decimal=',')
inddemo = pd.read_csv('indices_demograficos.csv', sep=';', decimal=',')
rentamedia = pd.read_csv('renta_media_y_mediana.csv', sep=';', decimal='.')
pisos_turisticos = pd.read_csv('exp_viv_turistica_tabla5_FEB2021.csv', sep=';', decimal=',')

In [3]:
new_data = distfi["location_raw"].str.split(" ", n = 4, expand = True)
distfi["Code"] = new_data[0].astype(int)
distfi.shape

(54873, 7)

In [4]:
new_data = indgini["location_raw"].str.split(" ", n = 4, expand = True)
indgini["Code"] = new_data[0].astype(int)
indgini.shape

(55238, 4)

In [5]:
new_data = inddemo["location_raw"].str.split(" ", n = 4, expand = True)
inddemo["Code"] = new_data[0].astype(int)
inddemo.shape

(55241, 8)

In [6]:
new_data = rentamedia["location_raw"].str.split(" ", n = 4, expand = True)
rentamedia["Code"] = new_data[0].astype(int)
rentamedia.shape

(55245, 8)

In [7]:
pisos_turisticos.shape

(35960, 9)

In [8]:
distfi_filtered = distfi[distfi['Code'].between(4600000000, 4699999999)]
indgini_filtered = indgini[indgini['Code'].between(4600000000, 4699999999)]
inddemo_filtered = inddemo[inddemo['Code'].between(4600000000, 4699999999)]
rentamedia_filtered = rentamedia[rentamedia['Code'].between(4600000000, 4699999999)]
pisos_turisticos_filtered = pisos_turisticos[pisos_turisticos['CODIGO'].between(4600000000, 4699999999)]

In [9]:
distfi_filtered.drop('location_raw', axis=1, inplace=True)
indgini_filtered.drop('location_raw', axis=1, inplace=True)
inddemo_filtered.drop('location_raw', axis=1, inplace=True)
rentamedia_filtered.drop('location_raw', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
distfi_filtered.head()

    Fuente de ingreso: salario  ...        Code
224                      5.816  ...  4600101001
233                      7.381  ...  4600201001
460                      7.398  ...  4600401001
485                      7.324  ...  4604201001
486                      6.896  ...  4604201002

[5 rows x 6 columns]

In [11]:
indgini_filtered.head()

    Índice de Gini Distribución de la renta P80/P20        Code
224           29,6                              2,5  4600101001
233           28,9                              2,5  4600201001
460           25,9                              2,2  4600401001
490           25,8                              2,2  4604201001
491             27                              2,3  4604201002

In [12]:
inddemo_filtered.head()

    Edad media de la población  ...        Code
224                       45,8  ...  4600101001
233                       44,4  ...  4600201001
460                       42,6  ...  4600401001
490                         42  ...  4604201001
491                       40,8  ...  4604201002

[5 rows x 7 columns]

In [13]:
rentamedia_filtered.head()

    Renta neta media por persona   ...        Code
224                         9.785  ...  4600101001
233                        10.588  ...  4600201001
460                        10.094  ...  4600401001
490                        10.180  ...  4604201001
491                        10.202  ...  4604201002

[5 rows x 7 columns]

In [14]:
pisos_turisticos_filtered.head()

           CODIGO  VIVIENDA TURISTICA  ...    MUN         MUN_LITERAL
31355  4600101001                   1  ...  46001              Ademuz
31356  4600201001                  18  ...  46002                Ador
31357  4600301001                   3  ...  46003  Atzeneta d'Albaida
31358  4600401001                   5  ...  46004            Agullent
31359  4600501001                   1  ...  46005             Alaquàs

[5 rows x 9 columns]

In [15]:
full_dtst = pd.merge(distfi_filtered, indgini_filtered, on="Code", how="inner")
full_dtst = pd.merge(full_dtst, inddemo_filtered, on="Code", how="inner")
full_dtst = pd.merge(full_dtst, rentamedia_filtered, on="Code", how="inner")

In [16]:
full_dtst.head()

  Fuente de ingreso: salario  ... Renta bruta media por hogar
0                      5.816  ...                      26.087
1                      7.381  ...                      29.033
2                      7.398  ...                      30.492
3                      7.324  ...                      31.220
4                      6.896  ...                      32.984

[5 rows x 20 columns]

In [17]:
pisos_turisticos_filtered.rename(columns = {'CODIGO':'Code'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
full_ine_dtst = pd.merge(full_dtst, pisos_turisticos_filtered, on="Code", how="inner")

In [19]:
full_ine_dtst.fillna(value=0,inplace=True)

In [20]:
full_ine_dtst.head()

  Fuente de ingreso: salario  ...        MUN_LITERAL
0                      5.816  ...             Ademuz
1                      7.381  ...               Ador
2                      7.398  ...           Agullent
3                      7.324  ...  Aielo de Malferit
4                      6.896  ...  Aielo de Malferit

[5 rows x 28 columns]

In [21]:
full_ine_dtst.rename(columns = {'Fuente de ingreso: salario':'Asalariados', 'Fuente de ingreso: pensiones':'Pensionistas', 'Fuente de ingreso: prestaciones por desempleo':'Desempleados', 'Fuente de ingreso: otras prestaciones':'Prestacionistas', 'Fuente de ingreso: otros ingresos':'Otros_ingresos', 'Índice de Gini':'Index_Gini','Distribución de la renta P80/P20':'dist_rent_p80_p20','Edad media de la población':'media_edad', 'Porcentaje de población menor de 18 años':'percent_menos_18', 'Porcentaje de población de 65 y más años':'percernt_mas_65', 'Tamaño medio del hogar':'tamaño_casa_media', 'Porcentaje de hogares unipersonales':'percent_casa_unipersonales', 'Población':'habitantes', 'Renta neta media por persona':'renta_media_persona', 'Renta neta media por hogar':'renta_media_hogar', 'Media de la renta por unidad de consumo':'media_unidad_consumo', 'Mediana de la renta por unidad de consumo':'mediana_unidad_consumo', 'Renta bruta media por persona':'renta_bruta_persona','Renta bruta media por hogar':'renta_bruta_hogar','VIVIENDA TURISTICA':'viviendas_turisticas', 'PLAZAS':'plazas', 'PLAZA POR VIVIENDA TURISTICA':'plaza_vivienda_turistica', 'PORCENTAJE VIVIENDA TURISTICA':'percent_vivienda_turistica'}, inplace = True)

In [22]:
full_ine_dtst.head()

  Asalariados Pensionistas  ...    MUN        MUN_LITERAL
0       5.816        2.743  ...  46001             Ademuz
1       7.381        2.874  ...  46002               Ador
2       7.398        2.417  ...  46004           Agullent
3       7.324        2.185  ...  46042  Aielo de Malferit
4       6.896        2.129  ...  46042  Aielo de Malferit

[5 rows x 28 columns]

Nos quedamos solo con valencia.

In [23]:
dataset_valencia = full_ine_dtst[full_ine_dtst['MUN']==46250]

In [24]:
dataset_valencia.shape

(588, 28)

In [25]:
dataset_valencia.drop('PROV', axis=1, inplace=True)
dataset_valencia.drop('PROV_LITERAL', axis=1, inplace=True)
dataset_valencia.drop('MUN', axis=1, inplace=True)
dataset_valencia.drop('MUN_LITERAL', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
dataset_valencia.head()

     Asalariados  ... percent_vivienda_turistica
1104      11.563  ...                       12.7
1105      11.842  ...                        7.9
1106      13.049  ...                        3.5
1107      10.352  ...                        4.0
1108      16.825  ...                        7.0

[5 rows x 24 columns]

In [27]:
dataset_valencia['Code'] = dataset_valencia['Code'] - 4625000000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
dataset_valencia.head()

     Asalariados  ... percent_vivienda_turistica
1104      11.563  ...                       12.7
1105      11.842  ...                        7.9
1106      13.049  ...                        3.5
1107      10.352  ...                        4.0
1108      16.825  ...                        7.0

[5 rows x 24 columns]

In [29]:
dataset_valencia.tail()

     Asalariados  ... percent_vivienda_turistica
1687       8.672  ...                        1.1
1688       7.223  ...                        0.2
1689       5.891  ...                        0.3
1690       8.268  ...                        0.0
1691      11.693  ...                        0.8

[5 rows x 24 columns]

In [30]:
dataset_valencia['Code'] = dataset_valencia['Code'].astype(str)
dataset_valencia['Code'] = (dataset_valencia['Code'].str[0:2]+dataset_valencia['Code'].str[3:5])
dataset_valencia['Code'] = dataset_valencia['Code'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
dataset_valencia.tail()

     Asalariados  ... percent_vivienda_turistica
1687       8.672  ...                        1.1
1688       7.223  ...                        0.2
1689       5.891  ...                        0.3
1690       8.268  ...                        0.0
1691      11.693  ...                        0.8

[5 rows x 24 columns]

In [32]:
dataset_valencia.to_csv(r'dataset_ine_valencia.csv')